/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/

body p,h1,h2,h3,h4,h5,h6{
	font-family: 'Ropa Sans', sans-serif;
}
body {
    background: url(/productos/media/b1.jpg) no-repeat;
    background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    text-align: center;
    background-position: center;
    background-attachment: fixed;
}
/*--header--*/
.header h1 {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #fff;
    font-weight: 400;
    margin-top: 1.1em;
}
/*--//header--*/

/*--main--*/
.w3-main {
    background:#fff;
    width: 53%;
	margin:3em auto;
	-webkit-box-shadow: -2px 11px 32px -13px rgba(0,0,0,0.45);
	-moz-box-shadow: -2px 11px 32px -13px rgba(0,0,0,0.45);
	box-shadow: 20px 25px 41px -9px rgba(0,0,0,0.45);
} 
.agile-info {
    padding: 60px 0px;
}
.agile-info h2 {
    font-size: 12em;
    color: black;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 20px;
}
img{  
	padding-right: 0.1em;
}
.agile-info h3 {
    font-size: 2.5em;
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
    letter-spacing: 12px;
}
.agile-info p {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.71);
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 3em;
    margin-top: 2em;
}
.agile-info a {
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    width: 18%;
    padding: 12px 0px;
    letter-spacing: 2px;
    display: inline-block;
    background: #962258;
    font-family: 'Ropa Sans', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agile-info a:hover {
    background: #3859a0;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*--//main--*/

/*--footer--*/
.footer-w3l p {
    margin: 4em 0em;
    color: #fff;
    font-size: 1em;
    letter-spacing: 2px;
}
.footer-w3l a {
    color: #fff;
}
.footer-w3l a:hover {
    color:  #3859a0;
    text-decoration: underline;
}
/*--//footer--*/

/*--responsive--*/

@media(max-width: 1680px){
	
}
@media(max-width: 1440px){
	.header h1 {
		margin-top: 1em;
	}
	.w3-main {
		margin: 2.2em auto;
		width: 54%;
	}
	.agile-info p {
		margin-bottom: 2.5em;
		margin-top: 1.5em;
	}
	.footer-w3l p {
		margin: 3em 0em;
	}
}
@media(max-width: 1366px){
	.w3-main {
		width: 57%;
	}
	.agile-info {
		padding: 57px 0px;
	}
	.header h1 {
		font-size: 2.9em;
	}
	.agile-info h3 {
		font-size: 2.4em;
	}
	.header h1 {
		font-size: 2.85em;
		margin-top: 0.9em;
	}
	
}
@media(max-width: 1280px){
	.w3-main {
		width: 59%;
		margin: 2em auto;
	}
	.agile-info {
		padding: 52px 0px;
	}
	.agile-info h2 {
		font-size: 11.5em;
	}
	.header h1 {
		font-size: 2.8em;
	}
}
@media(max-width: 1080px){
	.header h1 {
		font-size: 2.7em;
		letter-spacing: 7px;
	}
	.agile-info h3 {
		font-size: 2.3em;
		letter-spacing: 11px;
	}
	.w3-main {
		width: 67%;
	}
}
@media(max-width: 1050px){
	.w3-main {
		width: 69%;
	}
}
@media(max-width: 1024px){
	.w3-main {
		width: 70%;
		margin: 1.8em auto;
	}
	.footer-w3l p {
		margin: 2.9em 0em;
	}
}
@media(max-width: 991px){
	.header h1 {
		font-size: 2.65em;
		letter-spacing: 6px;
		margin-top: 0.8em;
	}
	.w3-main {
		width: 73%;
		margin: 1.7em auto;
	}
	.agile-info h3 {
		font-size: 2.2em;
		letter-spacing: 10px;
	}
	img {
		padding-right: 0.11em;
	}
	.agile-info h2 {
		font-size: 11em;
	}
	.agile-info {
		padding: 50px 0px;
	}
	.footer-w3l p {
		margin: 2.7em 0em;
	}
}
@media(max-width: 900px){
	.w3-main {
		width: 78%;
	}
	.header h1 {
		font-size: 2.6em;
	}
}
@media(max-width: 800px){
	.header h1 {
		font-size: 2.5em;
		letter-spacing: 5px;
	}
	.w3-main {
		width: 85%;
		margin: 1.6em auto;
	}
	.agile-info h3 {
		font-size: 2.1em;
		letter-spacing: 9px;
	}
	.agile-info h2 {
		font-size: 10em;
	}
	.agile-info p {
		margin-bottom: 2.3em;
		margin-top: 1.5em;
	}
	.agile-info {
		padding: 45px 0px;
	}
	.footer-w3l p {
		margin: 2.4em 0em;
	}
}
@media(max-width: 768px){
	.header h1 {
		margin-top: 2.5em;
	}
	.w3-main {
		margin: 4em auto;
	}
	.agile-info p {
		margin-bottom: 3em;
		margin-top: 2em;
	}
	.agile-info a {
		width: 20%;
	}
	.footer-w3l p {
		margin: 5em 0em;
	}
}
@media(max-width: 736px){
	.header h1 {
		margin-top: 0.9em;
		font-size: 2.4em;
	}
	.w3-main {
		margin: 1.5em auto;
	}
	.agile-info h3 {
		font-size: 2em;
		letter-spacing: 8px;
	}
	.agile-info h2 {
		font-size: 9em;
	}
	.agile-info p {
		margin-bottom: 2em;
		margin-top: 1.8em;
	}
	.agile-info a {
		font-size: 0.9em;
	}
	.footer-w3l p {
		margin: 3em 0em;
	}
}
@media(max-width: 667px){
	.agile-info p {
		font-size: 0.9em;
	}
	.w3-main {
		margin: 2em auto;
	}
	.header h1 {
		margin-top: 1em;
		font-size: 2.3em;
	}
	.agile-info p {
		margin-bottom: 2.5em;
	}
	.footer-w3l p {
		margin: 2.8em 0em;
	}
}
@media(max-width: 640px){
	.header h1 {
		font-size: 2.2em;
	}
	.agile-info h3 {
		font-size: 1.9em;
		letter-spacing: 7px;
	}
	.w3-main {
		width: 89%;
	}
	.footer-w3l p {
		margin: 2.9em 0em;
	}
}
@media(max-width: 600px){
	.w3-main {
		width: 91%;
	}
	.footer-w3l p {
		letter-spacing: 1px;
	}
}
@media(max-width: 568px){
	.w3-main {
		width: 93%;
	}
	.header h1 {
		font-size: 2.1em;
	}
	.agile-info h3 {
		font-size: 1.8em;
	}
	.agile-info a {
		padding: 11px 0px;
	}
}
@media(max-width: 480px){
	.header h1 {
		font-size: 2em;
		letter-spacing: 4px;
	}
	.agile-info p {
		line-height: 2em;
		width: 82%;
		margin: 1em auto 1.5em;
	}
	.agile-info a {
		width: 25%;
		letter-spacing: 1px;
	}
	.footer-w3l p {
		font-size: 0.9em;
		width: 82%;
		margin: 0 auto;
		line-height: 2em;
	}
	.w3-main {
		margin: 1.8em auto;
	}
}
@media(max-width: 414px){
	.header h1 {
		margin-top: 1.5em;
	}
	.header h1 {
		font-size: 1.9em;
		letter-spacing: 3px;
	}
	.w3-main {
		margin: 2em auto;
	}
	.agile-info h3 {
		font-size: 1.65em;
		letter-spacing: 5px;
	}
	.agile-info h2 {
		font-size: 8em;
	}
	.footer-w3l p {
		margin: 3em auto;
	}
}
@media(max-width: 384px){
	.header h1 {
		font-size: 1.8em;
		letter-spacing: 2px;
	}
	.agile-info h3 {
		font-size: 1.6em;
		letter-spacing: 4px;
	}
	.agile-info {
		padding: 40px 0px;
	}
	.agile-info h2 {
		font-size: 7em;
	}
	.agile-info a {
		width: 30%;
		letter-spacing: 0px;
		font-size: 0.85em;
		padding: 10px 0px;
	}
	.footer-w3l p {
		margin: 2em auto;
		width: 83%;
	}
}
@media(max-width: 375px){

}
@media(max-width: 320px){
	.header h1 {
		font-size: 1.6em;
	}
	.w3-main {
		margin: 1.3em auto;
		width: 94%;
	}
	.agile-info {
		padding: 25px 0px;
	}
	.agile-info p {
		line-height: 1.9em;
		width: 96%;
		margin: 0.9em auto 1.5em;
		font-size: 0.8em;
	}
	.agile-info a {
		width: 34%;
		font-size: 0.8em;
	}
	.header h1 {
		margin-top: 1.1em;
	}
	.footer-w3l p {
		line-height: 1.9em;
		margin: 1.5em auto;
	}
	.agile-info h3 {
		font-size: 1.5em;
		letter-spacing: 3px;
		margin-bottom: 0.5em;
	}
	img {
		padding-right: 0.15em;
	}
}
/*--//responsive--*/

